.page_sub {
  /* _____ BASE _____ */
  .sub-page-content {
    @include media-breakpoint-up(lg) {
      background: $light-gray;
      padding: 0;

      & .container {
        max-width: 1030rem;
        padding: 53rem 100rem 63rem 115rem;
        background: #fff;
        transform: translateY(-90rem);
        box-shadow: 0rem 5rem 5rem -4rem rgba(0, 0, 0, 0.3);
      }
    }
  }

  /* _____ FIRST _____ */
  .first {
    max-height: 400rem;

    @include media-breakpoint-up(lg) {
      max-height: 415rem;
      padding-bottom: 90rem;
    }
  }

  /* === Telephones === */
  .telephones_masthead {
    .telephones__number {
      @include media-breakpoint-up(lg) {
        &:first-child {
          @include underline(transparent);
          @include custom-border(dotted(bottom, 1rem, 3rem, #fff, _, center));
          transition: all 0.3s;

          &:hover,
          &:focus {
            @include custom-border(dotted(bottom, 2rem, 6rem, #fff, _, center));
          }
        }

        &:last-child {
          display: none;
        }
      }
    }
  }

  /* === Title === */
  .title {
    &__inner {
      padding: 15rem 0 0;
    }

    &__heading {
      font-size: 9.5vw;
      letter-spacing: 0.3em;
      margin-left: 0.3em;

      @include media-breakpoint-up(sm) {
        font-size: 46rem;
      }
    }
  }

  /* === Arrow-to-down === */
  .arrow-to-down {
    margin-bottom: 30rem;
  }
}
