.page_sub_contacts {

  /* === Consultation === */
  .consultation {
    background: $second-brand-color;
    padding: 40rem 40rem 48rem;

    &__heading {
      font-size: 26rem;

      &-smaller {
        display: block;
        font-size: 0.8em;
        letter-spacing: 0.1em;
        line-height: 1.15em;
      }
    }

    &__caption {
      padding-bottom: 35rem;

      &::after {
        display: none;
      }
    }
    
    @include media-breakpoint-up(md) {
      max-width: 352rem;
      padding: 30rem;
    }
  }
  
  
  /* === Form === */
  .contact-form__element_input {
    @include media-breakpoint-down(sm) {
      padding-left: 4em;
    }
  }
}