.advantages {
  padding-top: 50px;
  padding-bottom: 80px;

  &__list {
    margin-top: 27px;
  }
}

@include media-breakpoint-up(md) {
  .advantages {
    padding-top: 70px;

    &__list {
      margin-top: 50px;
    }
  }
}