.advantages {
  padding-top: 50rem;
  padding-bottom: 80rem;

  &__heading {
    // Decrease heading's size on small screens
    @media (max-width: 450px) {
      font-size: 8.5vw;
    }
  }

  &__list {
    margin-top: 27rem;
  }


  @include media-breakpoint-up(md) {
    padding-top: 70rem;

    &__list {
      margin-top: 50rem;
    }
  }
}