// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.first {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  color: #fff;
  min-height: 300px;
  letter-spacing: 0.5rem;
  position: relative;
  @include full-screen-bg;
}


/* === Masthead === */
.masthead {
  height: 75px;
  background: rgba(0, 0, 0, 0.25);

  &__inner > div {
    @include center;
    height: 100%;
  }

  &__logo {
    background: #23aae2;
    padding: 10px 0;
    &-img {
      width: auto;
      height: auto;
      max-height: 40px;
    }
  }
}


/* === Burger === */
/* uncss:ignore start */
.burger {
  position: relative;
  cursor: pointer;
  $burger-size: 25px;
  width: $burger-size;
  height: $burger-size;

  &-btn {
    width: 100%;
    top: 50%;
    right: 0;
    margin-top: -$burger-size / 10;
    margin-bottom: -$burger-size / 10;
    opacity: 1;

    &::before {
      top: $burger-size / 2.5 + 0.5px;
    }
    &::after {
      bottom: $burger-size / 2.5 + 0.5px;
    }
    &::before,
    &::after {
      @extend %pseudo;
      width: $burger-size;
    }
    &,
    &::before,
    &::after {
      position: absolute;
      background: rgba(255,255,255);
      border-radius: 0.75px;
      height:  $burger-size / 5 - 0.33px;
      transition: all .3s ease-in-out;
    }
  }

  &:focus * {
    transform: scale(1.075);
  }
  &.active &-btn {
    background: rgba(255,255,255,0);
  }
  &.active &-btn::after {
    transform: rotate(-45deg);
    bottom: 0;
  }
  &.active &-btn::before {
    transform: rotate(45deg);
    top: 0;
  }
}
/* uncss:ignore end */


/* === Title === */
.title {
  flex: 1;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
  }
  &__heading {
    text-align: center;
    font-size: 10.5vw;
    letter-spacing: 4vw;
    margin-left: 4vw;
    text-transform: uppercase;
    font-weight: 900;
  }
  &__caption {
    display: block;
    font-size: 7vw;
    letter-spacing: 2vw;
    margin-left: 2vw;
    margin-top: 0.25em;
  }
}


/* === Arrow to down === */
.arrow-to-down {
	margin-bottom: 68px;
	height: 42px;
  width: 42px;
  align-self: center;
	font-size: 18em;
  border-radius: 50%;
  border: 1.5px dashed #fff;
  box-shadow: 0 0 0 1px rgba(255,255,255,0);
	overflow: hidden;
  transition: all 0.3s;
  &::before {
    font-family: 'icomoon';
    display: block;
    color: white;
    font-size: 1.5em;
    content: '\2335';
    line-height: 42px;
  }

  /* Animation */
  &:hover,
  &:focus {
    background: white;
    color: black;
    box-shadow: 0 0 0 8px rgba(255,255,255,0.2);
    border-color: transparent;
  }
  &:hover::before,
  &:focus::before {
    animation: fromTopToBottom 0.3s forwards;
    color: $brand-color;
  }
  &:active {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(255,255,255,0.2);
  }
}


/* === Media === */

/* Height */
@media (max-height: 600px) {
  .title__inner {
    padding: 0 !important;
  }
  .arrow-to-down {
    margin-bottom: 40px;
  }
}
@media (max-height: 400px) {
  .arrow-to-down {
    margin-bottom: 30px;
  }
}

/* Width */
@include media-breakpoint-up(sm) {
  .title {
    &__heading {
      font-size: 46rem;
      letter-spacing: 22rem;
      margin-left: 22rem;
    }
    &__caption {
      font-size: 32rem;
      letter-spacing: 9rem;
      margin-left: 9rem;
    }
  }
}
@include media-breakpoint-up(md) {
  .masthead__telephones {
    display: flex !important;
  }
  .telephones {
    position: relative;
    font-size: 16rem;
    line-height: 1.4em;
    font-weight: bold;
    &__number {
      @include underline(white);
    }
    &::before {
      display: block;
      font-family: 'icomoon';
      content: "\e900";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -38px;
      margin: auto;
      line-height: 24px;
      font-size: 14px;
      height: 26px;
      width: 26px;
      border-radius: 50%;
      text-align: center;
      color: $second-brand-color;
      border: 1.5px dashed $second-brand-color;
    }
  }
  .title {
    &__inner {
      padding-top: 50px;
      padding-bottom: 0;
    }
    &__heading {
      font-size: 55rem;
      letter-spacing: 32rem;
      margin-left: 32rem;
    }
    &__caption {
      font-size: 39rem;
      letter-spacing: 11rem;
      margin-left: 11rem;
      margin-top: 0.3em;
    }
  }
}
@include media-breakpoint-up(lg) {
  .masthead__navigation {
    display: flex !important;
  }
  .navigation {
    display: flex;
    font-size: 11rem;
    margin-left: 2em;

    &__link {
      line-height: 1.1em;
      padding: 1em .9em .8em;
      margin: 0 1px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1rem;
      background: rgba(255,255,255,0);
      border-radius: 4px;
      transition: all 0.45s;
      &:hover,
      &:focus {
        background: rgba(255,255,255,.14);
      }
      &:active {
        background: rgba(255,255,255,.35);
      }
    }
  }
  .masthead__burger {
    display: none !important;
  }

  @media (min-height: 400px) {
    .title {
      &__inner {
        padding-top: 30px;
      }
      &__heading {
        font-size: 72rem;
        letter-spacing: 47rem;
        margin-left: 47rem;
      }
      &__caption {
        font-size: 44rem;
        letter-spacing: 14rem;
        margin-left: 14rem;
        margin-top: 0.4em;
      }
    }
  }
}