.reviews {
  padding-top: 78rem;
  padding-bottom: 74rem;
  text-align: center;

  &__slider {
    margin: auto;
    padding-top: 107rem;
  }

  
  @include media-breakpoint-up(md) {
    padding-bottom: 62rem;

    &__slider {
      padding-top: 60rem;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: 98rem;
    padding-bottom: 89rem;

    &__slider {
      padding-top: 65rem;
    }
  }
}