.reviews {
  //TODO: temporary
  padding-top: 80rem;
  padding-bottom: 80rem;
  text-align: center;

  &__content {
    margin: auto;
    padding-top: 107rem;
  }


  @include media-breakpoint-up(md) {


    &__content {
      padding-top: 60rem;
    }
  }

  @include media-breakpoint-up(lg) {


    &__content {
      padding-top: 65rem;
    }
  }
}

// @include media-breakpoint-up(md) {
//   .services {
//     padding-top: 59rem;
//     padding-bottom: 64rem;

//     &__content {
//       padding-top: 120rem;
//     }
//     &__learn-more-btn {
//       margin-top: 40rem;
//     }
//   }
// }

// @include media-breakpoint-up(lg) {
//   .services {
//     padding-top: 100rem;
//     padding-bottom: 99rem;

//     &__content {
//       padding-top: 155rem;
//     }
//     &__learn-more-btn {
//       margin-top: 60rem;
//     }
//   }
// }

// @media (max-width: 490px) {
//   .reviews__heading {
//     font-size: 8.5vw;
//   }
// }