.advantage {
  background: $light-gray;
  margin-bottom: 16px;
  padding-top: 57px;
  padding-bottom: 10px;
  min-height: 360px;
  box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.3);
  @include center(horizontal);

  &__inner {
    width: 290px;
  }
  &__icon {
    @include center(horizontal);
    
    &-img {
      height: 75px;
      width: auto;
    }
  }
  &__heading {
    padding: 1.36em 0 0.65em;
    margin-bottom: 0.75em;
    position: relative;

    &::after {
      @extend %pseudo;
      background: $gray;
      height: 1px;
      width: 38px;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }
  &__description {
    font-weight: lighter;
    text-align: center;
    line-height: 1.35em;
  }
}

@include media-breakpoint-up(md) {
  .advantage {
    margin-bottom: 20px;
  }
}