.learn-more-btn {
  padding: 1em 2em;
  border: 1.5rem solid #fff;
  border-radius: 5rem;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  transition: background 0.3s;

  &:hover,
  &:focus {
    background: rgba(0, 0, 0, 0.1);
  }
  &:active {
    background: rgba(0, 0, 0, 0.3);
  }
}