.reference {  
  max-width: 220rem;

  &__img {
    height: auto;
    width: auto;
    max-height: 40rem;
    max-width: 40rem;
    margin-bottom: 25rem;
  }
  &__link {
    margin-top: 4rem;
    width: 100%;

    &-data {
      @include underline($brand-color);
      text-align: center;
      
      &_tel {
        float: right;
      }
    }

    &:hover &-data::after,
    &:focus &-data::after {
      height: 0.1em;
      opacity: 1;
      transform: translateY(0);
    }
    &:active &-data::after {
      transform: scaleX(1.05);
    }
  }
}