.review {
  $photo-size: 132rem;
  @include center(horizontal);
  flex-direction: column;
  box-shadow: 0rem 3.5rem 5rem -0.75rem rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 82rem 35rem 37rem;

  &__photo {
    width: $photo-size;
    height: $photo-size;
    position: absolute;
    top: -$photo-size / 2;
    right: 0;
    left: 0;
    margin: auto;
    background: $second-brand-color;
    border-radius: 50%;
    object-fit: cover;
  }
  &__vk-address,
  &__relocation {
    color: $second-brand-color;
    text-transform: uppercase;
  }
  &__vk-address {
    display: inline-block;
    padding-top: 0.6em;
    font-weight: bold;
    font-size: 0.83em;
    letter-spacing: 0.07em;
    text-decoration: underline;
    transition: all 0.3s;
    margin: auto;

    &:hover,
    &:focus {
      text-decoration: underline;
      transform: scale(1.025) translateY(-1rem);
      color: $second-brand-color;
    }
  }
  &__relocation {
    font-weight: lighter;
    font-size: 0.81em;
    letter-spacing: 0.065em;
  }
  &__text {
    padding-top: 1.1em;
    letter-spacing: 0.027em;
    line-height: 1.2em;
    font-weight: lighter;
    font-style: italic;
    color: $text-gray;
  }
  
  @include media-breakpoint-up(md) {
    padding: 40rem 60rem 45rem 100rem;

    &__photo {
      top: 0;
      right: 100%;
      left: -$photo-size / 2;
      bottom: 0;
    }
    &__title {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
    &__vk-address {
      padding: 0;
      margin-left: 30rem;
    }
    &__relocation {
      padding-top: 0.7em;
    }
    &__text {
      text-align: left;
    }
  }

  @include media-breakpoint-up(lg) {
    &__relocation {
      padding-top: 0;
      margin: auto 0;
    }
  }
}


