.page_contacts {

  /* _____ FIRST _____ */
  .first {
    max-height: 400rem;

    @include media-breakpoint-up(lg) {
      max-height: 415rem;
      padding-bottom: 90rem;
    }
  }


  /* === Telephones === */
  @include media-breakpoint-up(lg) {
    .telephones_masthead {
      .telephones__number {
        &:first-child {
          @include underline(transparent);
          @include dotted(bd-bottom(1rem, 3rem, #fff));
          transition: all 0.3s;

          &:hover,
          &:focus {
            @include dotted(bd-bottom(2rem, 6rem, #fff));
            background-position: bottom;
          }
        }
        &:last-child {
          display: none;
        }
      }
    }
  }
  

  /* === Title === */
  .title {
    &__inner {
      padding: 15rem 0 0;
    }
    &__heading {
      font-size: 9.5vw;
      letter-spacing: 0.3em;
      margin-left: 0.3em;

      @include media-breakpoint-up(sm) {
        font-size: 46rem;
      }
    }
  }


  /* === Arrow-to-down === */
  .arrow-to-down {
    margin-bottom: 30rem;
  }


  /* === Consultation === */
  .consultation {
    background: $second-brand-color;
    padding: 40rem 40rem 48rem;

    &__heading {
      font-size: 26rem;

      &-smaller {
        display: block;
        font-size: 0.8em;
        letter-spacing: 0.1em;
        line-height: 1.15em;
      }
    }
    &__caption {
      padding-bottom: 35rem;

      &::after {
        display: none;
      }
    }
    
    @include media-breakpoint-up(md) {
      max-width: 352rem;
      padding: 30rem;
    }
  }

  
  /* === Form === */
  @include media-breakpoint-down(sm) {
    .contact-form {  
      &__element {
        &_input {
          padding-left: 4em;
        }
      }
    }
  }
}