/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 16rem / 1.4 $text-font-stack;
}

.heading {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;

  &_section {
    font-size: 38rem;
    letter-spacing: 3.9rem;
    line-height: 1.25em;
  }
  &_sub {
    font-size: 21rem;
  }
}