%bg-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
}

%centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}

%pseudo {
  content: '';
  display: block;
}

@mixin underline($underline-color: white) {
  position: relative;
  &::after {
    display: block;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    border-radius: 1em;
    transition: all 0.3s;
    transform: translateY(-0.25em);
  }
  &:hover::after,
  &:focus::after {
    height: 0.1em;
    opacity: 1;
    background: $underline-color;
    transform: translateY(0);
  }
  &:active::after {
    transform: scaleX(1.05);
  }
}