@import '../fonts/stylesheet.css';
@import '../icons/style.css';
@import './custom';
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import './variables';
@import './preset';
@import './animations';
@import './components';



/* ___ PAGE ___ */
.page {
  font-family: "Museo Sans", sans-serif;
	color: white;
	background: white;
  min-width: 300px;
}



@import './sections/first';